---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MusicPlayer from "@/components/widgets/MusicPlayer.astro";
import { musicList } from "@/data/music";
---

<BaseLayout title="音乐" showSidebar={true} showTOC={false} isIndexed={false}>
  <div class="max-w-4xl mx-auto py-8 px-4">
    <MusicPlayer 
      list={musicList}
    />
  </div>
</BaseLayout>
